input,
button,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}
:root {
    /* Palette */
    --palette-light: #f0f0f0;
    --palette-dark: #344955;
    --palette-accent: #03DAC5;
    --palette-white: #FFFFFF;
    --palette-black: #000000;
}

:root {
    /* Semantic roles */
    --color-background: var(--palette-light);
    --color-text: var(--palette-dark);
    --color-primary: var(--palette-accent);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--color-background);
    color: var(--palette-black);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content max-content;
    grid-template-areas:
        "sidebar header header header header"
        "sidebar main-content main-content main-content main-content";

}

#sidebar {
    background-color: var(--palette-dark);
    padding: 20px;
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 10px;
      color: white;
      padding-left: 30px;
    grid-template-areas: 
        "logo"
        "main-nav"
        "sub-nav";

}

#sidebar a {
    color: var(--palette-white);
}

#sidebar a:hover {
    color: var(--palette-accent);
}
#main-nav, #sub-nav {
    margin-top: 20px;
    gap: 20px;
}

#main-nav li,
#sub-nav li {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
}


#main-nav {
    grid-template-rows: repeat(4, 40px);
    grid-area: main-nav;
}
#sub-nav {
    grid-template-rows: repeat(2, 40px);  
    grid-area: sub-nav;   
    margin-top: 50px;   

}

#main-nav a, #sub-nav a {

    color: var(--palette-light);
    display: block;
    padding: 10px 0;
    margin-left: 30px;

}

#main-nav a:hover, #sub-nav a:hover{
    color: var(--color-primary);
}

#main-nav ul, #sub-nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.4em;
}

#sidebar li:hover {
    border-right: 10px solid var(--palette-accent);
}

#sidebar .material-icons {
    font-size: 40px;
    color: var(--palette-light);
}

#sidebar h1 .material-icons {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 10px;
}


header {
    background-color: var(--palette-white);
    padding: 40px;
    grid-area: 1 / 2 / 2 / 6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto auto;
     grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    row-gap: 30px;
    column-gap: 100px;;
    font-size: 1.2em;
}

header h2 {
    font-size: 1.5em;

}
.material-icons {
    cursor: pointer;
}

header .material-icons {
    font-size: 2em;

}

#header-top-right .profileicon1 {
    width: 50px;
    height: 50px;


}

.material-icons:hover {
    color: var(--color-primary);
}

#header-top-left {
  grid-area: top-left;
  display: flex;
  justify-content: left;
  align-items: center;
}


#header-bottom-left {
    grid-area: bottom-left;
    align-self: left;

    display: grid;
    grid-template-columns: max-content 6fr;
    grid-template-areas:
        "profileicon greeting";
        gap: 20px;
 
}   

.profileicon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    grid-area: profileicon;
    
}

.profileicon1 {
background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.profileicon2 {
background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.profileicon3 {
background: #833AB4;
background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.profileicon4 {
background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}


#greeting {
    grid-area: greeting;
}

#header-bottom-right {
    grid-area: bottom-right;
    display: flex;
    align-items: center;
}

#search-bar {
    display: flex;
    align-items: center;
    width: 70%;
}

header button {
    background-color: var(--color-primary);
    color: var(--palette-white);
    border: none;
    padding: 0px 20px;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 50px;
  margin: 10px;
}

#header-top-right {
     display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-right: 20px;
  grid-area: top-right;
  font-size: 1.2em;

}

header button:hover {
    background-color: var(--palette-dark);

}

header input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
    background-color: var(--palette-light);
    border-radius: 20px;
    border: none;
    color: var(--palette-black);
    font-size: 1.1em;

}

header input[type="text"]:focus {
    border: none;
    outline:none;
}

#main-content {
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
        "your-projects your-projects announcements-title"
        "left-container left-container right-container";
    gap: 30px;
    grid-area: main-content;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 30px;

    
}

#left-container {
    grid-area: left-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 50px;

}



#main-content #your-projects {
    grid-area: your-projects;
    font-size: 2em;
}

#main-content #announcements-title {
    grid-area: announcements-title;
    font-size: 2em;
}


#right-container {
  display: grid;
    grid-auto-rows: max-content max-content max-content;
    gap: 30px;
        grid-area: right-container;
    margin-right: 30px;
}

#announcements-card {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 100px;
    padding: 20px;
}

h2 {
    font-size: 1.4em;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.project-card {
    display: grid;
    border-left: 10px solid var(--palette-accent);  
    grid-template-rows: max-content max-content max-content;
    padding-bottom: 30px;
    
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
}



.project-card:hover {
    border-left: 10px solid var(--palette-dark);
}

p {
    font-size: 1.2em;
}



.trending-project {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "avatar info";
  gap: 20px;
  padding: 10px;
  align-items: center;
}


.trending-project:hover {
    border-right: 10px solid var(--palette-accent);
}

#trending .profileicon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    grid-area: avatar;
    
}

.trending-project .project-info {
  grid-area: info;
  margin-bottom: -20px;
  margin-top: -20px;
}
