input,
button,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

:root {
    /* Palette */
    --palette-light: #f0f0f0;
    --palette-dark: #344955;
    --palette-accent: #03DAC5;
    --palette-white: #FFFFFF;
    --palette-black: #000000;
}

:root {
    /* Semantic roles */
    --color-background: var(--palette-light);
    --color-text: var(--palette-dark);
    --color-primary: var(--palette-accent);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--color-background);
    color: var(--palette-black);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 45% 45% 20%;

}

#sidebar {
    background-color: var(--palette-dark);
    padding: 20px;
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 80px 300px 300px;
    gap: 20px;
      color: white;
      padding-left: 30px;

}

#main-nav, #sub-nav {
    margin-top: 20px;
    gap: 20px;
}

#main-nav li,
#sub-nav li {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 30px;
}


#main-nav {
    grid-template-rows: repeat(4, 40px);
}
#sub-nav {
    grid-template-rows: repeat(2, 40px);        

}

#main-nav a, #sub-nav a {
    text-decoration: none;
    color: var(--palette-light);
    display: block;
    padding: 10px 0;
}

#main-nav a:hover, #sub-nav a:hover{
    text-decoration: none;
    color: var(--color-primary);
    display: block;
    padding: 10px 0;
}

#main-nav ul, #sub-nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

#sidebar .material-icons {
    font-size: 40px;
    color: var(--palette-light);
}

#sidebar h1 .material-icons {
    font-size: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

header {
    background-color: var(--palette-white);
    padding: 40px;
    grid-area: 1 / 2 / 2 / 6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
     grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    gap: 30px;
}

header .material-icons {
    font-size: 32px;
    cursor: pointer;

}

header .material-icons:hover {
    color: var(--color-primary);
}

.header-top-left {
    grid-area: top-left;

}

.header-top-right {
    grid-area: top-right;
    float: right;
}

.header-bottom-left {
    grid-area: bottom-left;
    font-size: 1.5em;
    align-self: center;
}   

.header-bottom-right {
    grid-area: bottom-right;
    text-align: right;
}


header input[type="text"] {
    width: 80%;
    padding: 8px;
    background-color: var(--palette-light);
    border-radius: 20px;
    border: none;
}


#right-container {

    padding: 20px;
    grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
    grid-template-rows: repeat(2, 300px);
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 30%) ;
    grid-template-rows: 7.5% 30% 30% 30% ;
    gap: 30px;
    grid-area: 2 / 2 / 4 / 5;
    padding: 20px;
    margin-right: -70px;
    
}

#card-container h1 {
    grid-column: 1 / -1;
    font-size: 2em;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 10px solid var(--palette-accent);
}

#right-container .card {
    background-color: #fff;
    height: 180px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}