input,
button,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

:root {
    /* Palette */
    --palette-light: #f0f0f0;
    --palette-dark: #344955;
    --palette-accent: #03DAC5;
    --palette-white: #FFFFFF;
    --palette-black: #000000;
}

:root {
    /* Semantic roles */
    --color-background: var(--palette-light);
    --color-text: var(--palette-dark);
    --color-primary: var(--palette-accent);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--color-background);
    color: var(--palette-black);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header header header header"
        "sidebar main-content main-content main-content main-content";

}

#sidebar {
    background-color: var(--palette-dark);
    padding: 20px;
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 80px 300px 300px;
    gap: 20px;
      color: white;
      padding-left: 30px;

}

#main-nav, #sub-nav {
    margin-top: 20px;
    gap: 20px;
}

#main-nav li,
#sub-nav li {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 30px;
}


#main-nav {
    grid-template-rows: repeat(4, 40px);
}
#sub-nav {
    grid-template-rows: repeat(2, 40px);        

}

#main-nav a, #sub-nav a {
    text-decoration: none;
    color: var(--palette-light);
    display: block;
    padding: 10px 0;
}

#main-nav a:hover, #sub-nav a:hover{
    text-decoration: none;
    color: var(--color-primary);
    display: block;
    padding: 10px 0;
}

#main-nav ul, #sub-nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

#sidebar .material-icons {
    font-size: 40px;
    color: var(--palette-light);
}

#sidebar h1 .material-icons {
    font-size: 50px;
    vertical-align: middle;
    margin-right: 10px;
}


header {
    background-color: var(--palette-white);
    padding: 40px;
    grid-area: 1 / 2 / 2 / 6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
     grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    gap: 30px;
    font-size: 1.2em;
}

header h2 {
    font-size: 1.5em;

}
.material-icons {
    cursor: pointer;
}

header .material-icons {
    font-size: 32px;
 

}

#sidebar .material-icons:hover {
    color: var(--color-primary);
}

.header-top-left {
    grid-area: top-left;

}

.header-top-right {
    grid-area: top-right;
    float: right;
}

.header-bottom-left {
    grid-area: bottom-left;
    font-size: 1.5em;
    align-self: center;
}   

.header-bottom-right {
    grid-area: bottom-right;
    text-align: right;
}

header button {
    background-color: var(--color-primary);
    color: var(--palette-white);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
  align-items: center;
  gap: 8px;
}

#header-top-right {
     display: inline-flex;
  align-items: center;
  gap: 8px;
}

header button:hover {
    background-color: var(--palette-dark);

}

header input[type="text"] {
    width: 80%;
    padding: 8px;
    background-color: var(--palette-light);
    border-radius: 20px;
    border: none;
}

#main-content {
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "your-projects your-projects announcements-title"
        "left-container left-container right-container";
    gap: 50px;
    grid-area: main-content;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 30px;

    
}

#left-container {
    grid-area: left-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 50px;

}



#main-content #your-projects {
    grid-area: your-projects;
    font-size: 2em;
}

#main-content #announcements-title {
    grid-area: announcements-title;
    font-size: 2em;
}


#right-container {
  display: grid;
    grid-auto-rows: 350px 50px 180px;
    gap: 50px;
        grid-area: right-container;
    margin-right: 30px;
}

#announcements-card {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 100px;
    padding: 20px;
}

#announcements h2 {
    font-size: 1.2em;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.project-card {
    display: grid;
    border-left: 10px solid var(--palette-accent);
}

